*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 16px;
}
body{
  background-color: hsl(212, 45%, 89%);
  color:hsl(220, 15%, 55%);
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  padding: 0 28px;
}
a{
  text-decoration: none;
  color: hsl(218, 44%, 22%);
}
main{
  background-color: #FFF;
  padding: 20px 20px 40px 20px;
  margin: 96px auto;
  border-radius: 24px;
  max-width: 375px;
}
img{
  max-width: 100%;
  border-radius: 16px;
}
h1{
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 20px 20px 0 20px;
  color: hsl(218, 44%, 22%);
}
p{
  margin-top: 12px;
}
.attribution{
  margin-bottom: 48px;
  font-size: 1.3rem;
}
.coder{
  font-size: 1.6rem;
  font-family: 'Arizonia', cursive;
}